footer {

    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    
    div {
        font-family: "Lexend Deca", sans-serif;
    }

}