/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
}

:root {
    --primary: #adadad;
    --primary-darker: #e2e2e2;
    --primary-whiter: #dadada;
  }

@keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Funnel Display", sans-serif;
    background-color: #ffffff;
}

.dot-mask {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#dbdee2 1px, transparent 1px);
    background-size: 16px 16px;
    -webkit-mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 60%,
      transparent 100%
    );
    mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 60%,
      transparent 100%
    );
    z-index: -100;
  }

  